<h2><%= @application.name %></h2>

<ul>
  <li>Street: <%= @application.street %></li>
  <li>City: <%= @application.city %></li>
  <li>State: <%= @application.state %></li>
  <li>Zipcode: <%= @application.zipcode %></li>
  <li>Description: <%= @application.description %></li>
  <li>Pets:</li>
    <% @application.pets.each do |pet| %>
      <ul>
        <li><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></li>
      </ul>
    <% end %>
  <li>Status: <%= @application.status %></li>
</ul>

<h3>Add a Pet to this Application</h3>
<%= form_with url: "/applications/#{@application.id}", local: true do |form| %>
  <%= form.label :search, "Pet Name" %>
  <%= form.text_field :search %>
  <%= form.submit "Search Pet" %>
<% end %>

<% @pets&.each do |pet| %>
  <ul>
    <li><%= pet.name %></li>
  </ul>
<% end %>